.container {
  border: 1px solid #ccc;
  width: 45vw;
}

.post {
  padding: 10px;
}

.postMetadata {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.postMetadata p{
  color: var(--missingText);
  font-size: 13px;
}

.postMetadata div {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 10px;
}

.postMetadata div h4 {
  margin: 0;
}

.postMetadata div p {
  margin: 0;
}

.postData {
  padding: 10px;
}

.postData img {
  width: 100%;
}

.postActions {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  justify-content: center;
  margin: 0;
  background-color: var(--main);
  color: #fff;
  margin: 0;
}

.notFound {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.notFound a {
  color: blue;
  text-decoration: underline;
}

.notFound img {
  width: 50%;
}

.newPost {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--randomText);
}

.newPost input {
  width: 100%;
  padding: 10px;
}